[user] 
  name = %NAME%
  email = %EMAIL%

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,tab-in-indent,trailing-space
  tabwidth = 2
  untrackedCache = true
  preloadIndex = true
  compression = 9

[init]
	defaultBranch = master

[advice]
  addedEmptyPathSpec = false
  pushNonFastForward = false
  statusHints = false

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[pull]
  default = current
  rebase = true

[rebase]
  autoStash = true
  missingCommitsCheck = warn

[log]
  abbrevCommit = true
  graphColors = blue, yellow, cyan, magenta, green, red

[branch]
  sort = -committerdate

[tag]
  sort = -taggerdate

[color "decorate"]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta
